|body{
    margin: 0px;
    padding: 0px;
  


}
#navHome{
    height: 90px;
    background-color: #008B8B; 
   
}

#NavBar1{
    background-color: #008B8B;
}
#NavBarText{
    color:rgb(255, 255, 255);
 
    font-size: 30px;
}

#GRID_RIGTH{
  
    height: 500px;
    }

#input{
 
    margin-left: 12px;
}
.bd{
    background-image: url(fotos/alimentos-saudaveis.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed ; 
}
.Corpo-HTML{
    background-image: url(fotos/alimentos-saudaveis.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed ;
}