|body{
    margin: 0px;
    padding: 0px;
    
}
#navHome{
    height: 90px;
    background-color: #e2131e; 
   
}

#NavBar1{
    background-color: #e2131e;
}
#NavBarText{
    color:rgb(255, 255, 255);
 
    font-size: 30px;
}

#GRID_RIGTH{
  
    height: 500px;
    }

#input{
 
    margin-left: 12px;
}
#text-backgroud{
 
 
   
}