body,html{   
margin: 0em;
padding: 0em;
height:100%;

    }
.bg-fundo{
 background-image: url(fotos/alimentos-saudaveis.jpg);
position:center;
 height: 100%;
 background-repeat: no-repeat;
 background-size: cover;

}
   
#dropdawhs{
    background-color: #e0ffc2; 
}
#navHome{
    height: 90px;
    background-color: #e0ffc2; 
   
}

#NavBar1{
    background-color: #e0ffc2;
}
#NavBarText{
    color:rgb(255, 255, 255);
 
    font-size: 30px;
}
div a:hover{
    color: white;
}
.navbar a:hover{
    color: white !important;
}
#GRID_RIGTH{
  
    height: 500px;
    }

#input{
 
    margin-left: 12px;
}

footer a:hover{
    color:white !important;
}
 .image-responsivel {
    width: 10rem;
}