<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Responsive Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><img style="width: 80px; height: 70px;position:fixed;" src="assets/logo2 (2)1.png"
                alt=""></label>
        <ul>
            <li class="perfil"><a href="#"><img class="perfile" src="assets/face.jpg" alt="">
                </a></li>
            <li><a href="#"
                    style="border-radius: 50%; background-color:greenyellow;width: 10px;height: 10px;font-size: 10px;">online</a>
            </li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
    <section>
       <div class="wrapper">
           <div class="box a">a</div>
           <div class="box b">b</div>
           <div class="box c">c</div>
           <div class="box d">d</div>
           <div class="box e">e</div>
           <div class="box f">f</div>
       </div>
    </section>

</body>

</html>